html {
  scroll-padding-top: 20vh;
}

body {
  font-family: 'Montserrat', sans-serif; 
  margin: 0;                          
  padding: 0;     
  background-color: #F4E9D3;
  width: 100vw;                
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal inesperado */
}


header {
  background-color: #243770;
  color: white;
  padding: 20px;
  position: fixed;
  height: 15vh;
  width: 100vw;
  z-index: 1000;
}
.caja{
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 940px;
  font-size: 20px;
}

header img{
  width: 140px;
  height: 80px;
  display: flex;
}

nav ul {
  display:flex;
  gap: 40px;
  list-style: none;
  padding-top: 80px;
  padding-right: 40px;
  justify-content: right;
}

nav li{
  display: inline-block;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav a:hover{
  color: #EC008C;
  text-decoration: underline;
}

/* Secciones */

section {
  text-align: center;
  width: 100vw;
}

/* Presentacion */
#presentacion{
  padding-top: 30vh;
  height: 50vh;
  display: flex;
  justify-content: space-between;
}

#presentacion h2{
  font-size: 46px;
  font-weight: bolder;
  width: 60vw;
  height: 50vw;
  margin-top: 100px;
  color: #243770;
  -webkit-text-stroke: 1px;
  text-shadow:
  -1px 0 #fff,
  0 1px #fff,
  1px 0 #fff,
  0 -1px #fff;
}

#presentacion img{
  width: 500px;
  height: 300px;
  position:relative;
  right: auto;
  margin: 20px;
  padding-right: 80px;
  border-radius: 20px;
}

/* Productos */

#productos{
  background-color: #243770;
  width: 100vw;
  margin: 0;
  padding: 20px 0;
}

#productos h2{
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.productos-container {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.producto {
  text-align: center;
  background-color: rgb(247, 245, 245, 0.5); 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1); 
  width: 300px;
  height: 400px;
}

/* Imágenes de los productos */
.producto img {
  border-radius: 8px;
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.producto p{
  margin: 15px;
}

.precio{
  font-weight: 700;
  font-size: 20px;
}


/* reseñas */
.reseñas {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F4E9D3;
  width: 100vw;
}

.reseñas h2 {
  font-size: 2em; 
  margin-bottom: 20px; 
}

.cards-container {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 200px;
  position: relative;
  gap: 20px; 
  padding: 20px; 
}

.card {
  background-color: white; 
  padding: 20px; 
  border-radius: 8px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  width: 300px;
  height: 200px;
  position: absolute;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;

  opacity: 0; /* Oculta las tarjetas al inicio */
  animation: carousel 20s infinite;
  animation-delay: 2s;

}

.card h3 {
  font-size: 1.5em; 
  color: #333; 
  margin-bottom: 10px;
}

.card p {
  color: #777; 
}

/* Animación para el carrusel */
@keyframes carousel {
  0%, 100% { transform: translateX(0) scale(1); opacity: 1; z-index: 3; } /* Centro */
  20% { transform: translateX(-200px) scale(0.8); opacity: 0.6; z-index: 2; } /* Izquierda 1 */
  40% { transform: translateX(-400px) scale(0.6); opacity: 0.3; z-index: 1; } /* Izquierda 2 */
  60% { transform: translateX(400px) scale(0.6); opacity: 0.3; z-index: 1; } /* Derecha 2 */
  80% { transform: translateX(200px) scale(0.8); opacity: 0.6; z-index: 2; } /* Derecha 1 */

}

/* Aplicar animación a cada tarjeta */
.card:nth-child(1) { animation: carousel 20s infinite; }
.card:nth-child(2) { animation: carousel 20s infinite 4s; }
.card:nth-child(3) { animation: carousel 20s infinite 8s; }
.card:nth-child(4) { animation: carousel 20s infinite 12s; }
.card:nth-child(5) { animation: carousel 20s infinite 16s; }

/* Contacto */

.contacto{
  align-items: center;
  padding: 20px 0;
  background-color: #243770;
  border-radius: 8px;
  width: 100vw;
}

.contenedor{
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.contacto h2{
  text-align: center;
  margin-bottom: 20px;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 400px;  
  margin: 0 auto; 
  height: 50vh;
  width: 40vw;
}

.contacto label{
  font-size: 1.1em;
  color: #fff;
}

.contacto input, .contacto textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px; 
  font-size: 1em; 
  
}

.contacto button {
  padding: 10px; 
  background-color: #4CAF50; 
  color: white; 
  border: none; 
  border-radius: 4px; 
  cursor: pointer; 
}

.contacto button:hover {
  background-color: #45a049; 
}

iframe {
  margin-right: 10%;
  width: 40%;
  height: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  filter: grayscale(80%); 
}

/* Estilo para el pie de página */

footer {
  background-color: #333;    /* Fondo oscuro */
  color: white;              /* Texto blanco */
  text-align: center;        /* Centrado de texto */
  padding: 15px 0;             /* Espacio interior */
  width: 100vw;
}

.social-icons{
  margin: 20px;
}

.social-icons a {
  color: white; /* Color de los iconos */
  font-size: 24px;
  margin: 0 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #EC008C;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
  .caja{
    justify-content: space-between;
  }

  nav ul li a{
    font-size: 14px;
    padding: 8px;
  }

  nav ul{
    gap: 10px;
  }

  /* Ajustes en la disposición de las cards */
  .reseñas .cards-container {
      grid-template-columns: 1fr; /* Las cards se apilan en una sola columna */
  }

  /* Ajustes en el formulario para pantallas pequeñas */
  .contacto {
    padding: 15px; /* Reduce el padding */
  }
  .contacto .contenedor{
    flex-direction: column;  /* Apila los productos en una columna */
    align-items: center;
  }

  .contacto iframe{
    width: 70vw;
    padding: 0;
    margin: 0;
  }

  .contacto form {
    width: 70vw;
    gap: 10px; /* Reduce el espacio entre los elementos del formulario */
  }

  .contacto input, .contacto textarea {
    font-size: 0.9em; /* Reduce el tamaño de la fuente en los campos */
    padding: 8px; /* Reduce el padding en los campos */
  }

  .contacto button {
    padding: 8px; /* Reduce el padding en el botón */
  }

  .productos-container {
    flex-direction: column;  /* Apila los productos en una columna */
    align-items: center;     /* Centra verticalmente */
    margin:0;
    padding:0;
    margin-bottom: 20%;
  }

  .productos{
    margin:0;
    padding:0;
  }

  #presentacion{
    flex-direction: column; 
    align-items: center;  
    height: auto; 
  }
  #presentacion h2{
    padding: 0;
    margin: 0;
  }
  #presentacion img{
    max-width: 80%; 
    padding: 0;
    margin: 0;
  }
}

/* ------------------ MEDIA QUERIES ------------------ */

 /*Media Query para CELULARES (pantallas pequeñas, hasta 600px) */
 @media (max-width: 600px) {
 
  .contacto{
    flex-direction: column;  /* Apila los productos en una columna */
    align-items: center;
  }

  .productos-container {
    flex-direction: column;  /* Apila los productos en una columna */
    align-items: center;     /* Centra verticalmente */
  }

  #presentacion{
    flex-direction: column; 
    align-items: center;  
  }

  #presentacion img{
    padding-right: 0;
    
  }
}

/* Media Query para TABLETS (de 601px a 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {

  .contacto{
    flex-direction: column;  /* Apila los productos en una columna */
    align-items: center;
  }

  .productos-container {
    justify-content: space-evenly; /* Distribuye los productos uniformemente */
  }

  #presentacion{
    justify-content: space-evenly;
  }

  #presentacion img{
    padding-right: 0;
   
  }
}
